@import "./variables";

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

h1 {
  font-family: $_font1;
}

h2{
  font-family: $_font1;
}

h3{
  font-family: $_font1;
}

* {
  font-family: $_font1;
}

p {
  font-size: 16px;
}



.center {
  text-align: center;
}


.has-wizard {
  padding-bottom: 40px;
}